html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: .5em .8em;
  background-color: #333;
  border-color: #333;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.125rem;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  padding: .5em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn-subtle {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: .5em .8em;
  background-color: #ccc;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.125rem;
}

.btn-subtle:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
  padding: .5em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn-ghost {
  color: #000;
  text-decoration: none;
  display: inline-block;
  padding: .4em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border: 3px solid #000;
  font-size: 1.125rem;
}

.btn-ghost:hover {
  background-color: #666;
  color: #000;
  padding: .4em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn-warning {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: .5em .8em;
  background-color: #f33;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.125rem;
}

.btn-warning:hover {
  background-color: #933;
  color: #fff;
  padding: .5em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn.btn-small {
  color: #fff;
  text-decoration: none;
  padding: .5em .8em;
  background-color: #333;
  border-color: #333;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
  font-size: .875rem;
}

.btn.btn-small:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  padding: .5em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn-subtle.btn-small {
  color: #fff;
  text-decoration: none;
  padding: .5em .8em;
  background-color: #ccc;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
  font-size: .875rem;
}

.btn-subtle.btn-small:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
  padding: .5em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn-ghost.btn-small {
  color: #000;
  text-decoration: none;
  padding: .4em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border: 3px solid #000;
  font-size: .875rem;
}

.btn-ghost.btn-small:hover {
  background-color: #666;
  color: #000;
  padding: .4em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn-warning.btn-small {
  color: #fff;
  text-decoration: none;
  padding: .5em .8em;
  background-color: #f33;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
  font-size: .875rem;
}

.btn-warning.btn-small:hover {
  background-color: #933;
  color: #fff;
  padding: .5em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn.btn-big {
  color: #fff;
  text-decoration: none;
  padding: .5em .8em;
  background-color: #333;
  border-color: #333;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5rem;
}

.btn-big.btn:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
  padding: .5em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn-subtle.btn-big {
  color: #fff;
  text-decoration: none;
  padding: .5em .8em;
  background-color: #ccc;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5rem;
}

.btn-subtle.btn-big:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
  padding: .5em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn-ghost.btn-big {
  color: #000;
  text-decoration: none;
  padding: .4em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border: 3px solid #000;
  font-size: 1.5rem;
}

.btn-ghost.btn-big:hover {
  background-color: #666;
  color: #000;
  padding: .4em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}

.btn-warning.btn-big {
  color: #fff;
  text-decoration: none;
  padding: .5em .8em;
  background-color: #f33;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
  font-size: 1.5rem;
}

.btn-warning.btn-big:hover {
  background-color: #933;
  color: #fff;
  padding: .5em .8em;
  text-align: center;
  margin: 0;
  border-radius: 8px;
  border-width: 3px;
}
